{% extends "homepage/header.html" %}

{% block content %}


   <h2>New Associate:</h2>
    </br>

<form role="form" method="POST" action="" >
<div class="form-group col-md-4">
      {% csrf_token %}
      {{ form }}
      </br>
      <input type="submit" value="Add" class="btn btn-outline-secondary">
</div>
</form>

 </br>
  </br>
 </br>
    <h2>Associates:</h2>
    </br>
    <table class="table table-striped table-bordered table-hover">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Rate</th>
      <th scope="col">Availability</th>
      <th scope="col">Clients</th>
      <th scope="col">Partners</th>
      <th scope="col">Skills</th>
    </tr>
  </thead>
  <tbody>
{% for assoc in object_list %}
    <tr>
      <th scope="row">{{ assoc.id }}</th>

            <td>{{ assoc.name }}</td>
            <td>{{ assoc.location }}</td>
            <td>{{ assoc.rate }}</td>

            <td>
              <form action="{% url 'assoc_availability' assoc.id %}" method="post">{% csrf_token %}
                <input type="submit" class="btn btn-outline-secondary" value="View" />
              </form>
            </td>
            <td>  
              <form action="{% url 'assoc_client' assoc.id %}" method="post">{% csrf_token %}
                <input type="submit" class="btn btn-outline-secondary" value="View" />
              </form>
            </td>
             <td>    
              <form action="{% url 'assoc_partner' assoc.id %}" method="post">{% csrf_token %}
                <input type="submit" class="btn btn-outline-secondary" value="View" />
              </form>
            </td>       
            <td>    

              <form action="{% url 'assoc_skill' assoc.id %}" method="post">{% csrf_token %}
                <input type="submit" class="btn btn-outline-secondary" value="View" />
              </form>
            </td>


    </tr>
        {% endfor %}
  </tbody>
</table>



</br>
    <div class="row">
        <div class="col-sm-1">
          <br>
          <center>
            <form action='/'>
              <input type="submit" class="btn btn-outline-tertiary" value="Return" />
          </form>
          </center>
        </div>
    </div>
  </div>
  </br>
{% endblock %}