{% extends "homepage/header.html" %}

{% block content %}

<div class='container'>
    <br>
    <br>
    <br>
    <div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
						<center>
								<h1>{{ modelone.name }}</h1>
								<!--<button type="button" class="btn btn-outline-secondary" href='/addUser/'>Add User</button>-->
						</center>
				</div>
				<div class="col-sm-3">
				</div>
		</div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <center>
                <h2>Add New</h2>
                <!--<button type="button" class="btn btn-outline-secondary" href='/addUser/'>Add User</button>-->
            </center>
            <br>
            <br>
            <form role="form" method="POST" action="" class"" >
                <!--<div class="form-group col-md-4">-->
                {% csrf_token %}
                <input type="hidden" name="associate_id" value="{{modelone.id}}">
                {{ form.client_id.errors }}
                <label for="{{ form.client_id.id_for_label }}">Client:</label>
                {{ form.client_id }}
                <br>
                {{ form.level.errors }}
                <label for="{{ form.level.id_for_label }}">Relationship Level:</label>
                {{ form.level }}
                <small>(1 → never worked together; 5 → has strong relationship with the client)</small>
                <br>
                <br>
                <input type="submit" value="Add" class="btn btn-dark btn-lg btn-block">
            <!--</div>-->
            </form>
        </div>
        <div class='col-sm-2'>
        </div>
        <div class="col-sm-5">
          <center>
            <h2>{{ modelone.name }}'s Relationships</h2>
          </center>
          <br>
          <br>
          <div class="table-responsive">
              <table class="table table-bordered table-hover">
                  <thead  class="thead-dark">
                      <tr>
                        <th scope="col">Client</th>
                        <th scope="col">Relationship Level</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for client in object_list %}
                      <tr>
                        <td>{{ client.client_id }}</td>
                        <td>{{ client.level }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <form action='/associates/'>
                <input type="submit" class="btn btn-dark btn-lg btn-block" value="Back to Associates" />
            </form>
        </div>
        <div class="col-sm-9">
        </div>
    </div>
</div>
{% endblock %}
