<!DOCTYPE html>
<html lang="en">

<head>
		<title>Teambuilder</title>
		<meta charset="utf-8" />
		{% load staticfiles %}

		<link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}" type = "text/css"/>
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">

		<style type="text/css">
				html,
				body {
		  	height:100%
				}
		</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<br>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
   				<div class='col-sm-5'>
					<div class='navbar-collapse collapse'>
							<a class="navbar-brand" href="/"><h3>Home</h3></a>
							<!--<ul class="nav">
									<li class="nav-item">
											<a class="nav-link" href="#">Home</a>
									</li>
							</ul>-->
					</div>
				</div>
				<div class='col-sm-3'>

					<div class='navbar-collapse collapse'>

						<a class="navbar-brand" href="/">
								<img src="{% static 'homepage/img/HSF.png' %}" class="responsive-img" style='max-width:200px;' alt="face">
								<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
										<span class="navbar-toggler-icon"></span>
								</button>-->
						</a>
					</div>
				</div>
				<div class='col-sm-4'>

					<div class='navbar-collapse collapse justify-content-end'>
						<a class="navbar-brand" href="/">
								<img src="{% static 'homepage/img/logo.png' %}" class="responsive-img" style='max-height:50px;' alt="face">
								<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
										<span class="navbar-toggler-icon"></span>
								</button>-->
						</a>

					</div>
				</div>
			</nav>
		</div>

{% block content %}
{% endblock %}

	<!--
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>
	-->
</body>

<!-- Has to be before bootstrap! -->
<script
src="http://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>

</html>
