{% extends "homepage/header.html" %}
{% block content %}
<h2>TeamBuilder</h2>


<!--EACH BUTTON BOLLOW IS CONTAINED IN A DIV. THESE DIVS ARE IN TWO ROWS AND TWO COLUMNS-->
<!--LIAM: I changed it so that they each appear on a new row, when in two columns they squashed together when you made the screen smaller -->

<!--tO LINK THEM TO NEW PAGES, ADD A HREF TO THE BUTTON-->
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-1">
				  <br>
				  <center>
				  	<form action='/associates/'>
					    <input type="submit" class="btn btn-outline-secondary" value="Associates" />
					</form>
					<!--<button type="button" class="btn btn-outline-secondary" href='/addUser/'>Add User</button>-->
				  </center>
			  </div>
	    </div>
		<div class="row">
			  <div class="col-sm-1">
				  <br>
				  <center>
				  	<form action='/addProject/'>
					    <input type="submit" class="btn btn-outline-secondary" value="Projects" />
					</form>
				  </center>
			  </div>
		</div>
		<div class="row">
			  <div class="col-sm-1">
				  <br>
				  <center>
			  	    <form action='/settings/'>
					    <input type="submit" class="btn btn-outline-secondary" value="Settings" />
					</form>
				  </center>
			  </div>
	    </div>
		<div class="row">
			  <div class="col-sm-1">
				  <br>
				  <center>
					<button type="button" class="btn btn-outline-secondary">Load prev</button>
				  </center>
			  </div>
		</div>
	</div>
{% endblock %}