{% extends "homepage/header.html" %}

{% block content %}

<div class='container'>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-4">
          <h2>Add Partner</h2>
              <!--<button type="button" class="btn btn-outline-secondary" href='/addUser/'>Add User</button>-->
          <br>
          <form role="form" method="POST" action="" >
          <!--<div class="form-group col-md-4">-->
                {% csrf_token %}
                {{ form }}
                <br>
                <br>
                <input type="submit" value="Add" class="btn btn-dark btn-lg btn-block">
          <!--</div>-->
          </form>
           
            </br>
            </br>
            </br>
                      <form action='/settings/'>
                <input type="submit" class="btn btn-dark btn-lg btn-block" value="Back to Settings" />
            </form>
        </div>
        <div class='col-sm-1'>
        </div>
        <div class="col-sm-7">
          <h2>Partners on System</h2>
          <br>

          <table class="table table-bordered table-hover">
              <thead  class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                  </tr>
              </thead>
              <tbody>
                  {% for partner in object_list %}
                  <tr>
                    <th scope="row">{{ partner.id }}</th>
                      <td>{{ partner.name }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
    </div>

</div>
    <br>
{% endblock %}
