{% extends "homepage/header.html" %}
{% block content %}
<!--tO LINK THEM TO NEW PAGES, ADD A HREF TO THE BUTTON-->
<!--ACTIONS ARE ALL WRONG. NEED TO CHANGE AT A LATER DATE-->
<div class='container'>

    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <center>
                <h1>Settings</h1>
                <!--<button type="button" class="btn btn-outline-secondary" href='/addUser/'>Add User</button>-->
            </center>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <br>
    <br>
    <div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
						<a href='partners/'>
								<button type="button" class="btn btn-dark btn-lg btn-block">Partners</button>
						</a>
				</div>
				<div class="col-sm-3">
				</div>
		</div>
		<br>
		<br>
		<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
						<a href='clients/'>
							<button type="button" class="btn btn-dark btn-lg btn-block">Clients</button>
						</a>
				</div>
				<div class="col-sm-3">
				</div>
		</div>
		<br>
		<br>
		<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
						<a href='skills/'>
							<button type="button" class="btn btn-dark btn-lg btn-block">Employee Skills</button>
						</a>
				</div>
				<div class="col-sm-3">
				</div>
		</div>
    <br>
    <br>
    <div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
						<a href='locations/'>
								<button type="button" class="btn btn-dark btn-lg btn-block">Office Locations</button>
						</a>
				</div>
				<div class="col-sm-3">
				</div>
		</div>
		<br>
		<br>
		<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
						<a href='weeks/'>
							<button type="button" class="btn btn-dark btn-lg btn-block">Calendar Weeks</button>
						</a>
				</div>
				<div class="col-sm-3">
				</div>
		</div>
</div>
		<br>
{% endblock %}
