{% extends "homepage/header.html" %}

{% block content %}


   <h2>New Project:</h2>
    </br>

<form role="form" method="POST" action="">
<div class="form-group col-md-4">
      {% csrf_token %}
      {{ form }}
      </br>
      <input type="submit" value="Add" class="btn btn-outline-secondary">
</div>
</form>

 </br>
  </br>
 </br>
    <h2>Projects:</h2>
    </br>
    <table class="table table-striped table-bordered table-hover">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Fee</th>
      <th scope="col">Duration</th>
      <th scope="col">Associates</th>
      <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody>
{% for proj in object_list %}
    <tr>
      <th scope="row">{{ proj.id }}</th>

            <td>{{ proj.name }}</td>
            <td>{{ proj.location }}</td>
            <td>{{ proj.fee }}</td>
            <td>{{ proj.duraton }}</td>
            <td>
              <form action="{% url 'proj_associates' proj.id %}" method="post">{% csrf_token %}
                <input type="submit" class="btn btn-outline-secondary" value="View" />
              </form>
            </td> 
            <td>
              <form action="{% url 'proj_client' proj.id %}" method="post">{% csrf_token %}
                <input type="submit" class="btn btn-outline-secondary" value="Optimize" />
              </form>
            </td>   


    </tr>
        {% endfor %}
  </tbody>
</table>



</br>
    <div class="row">
        <div class="col-sm-1">
          <br>
          <center>
            <form action='/'>
              <input type="submit" class="btn btn-outline-tertiary" value="Return" />
          </form>
          </center>
        </div>
    </div>
  </div>
  </br>
{% endblock %}