{% extends "homepage/header.html" %}

{% block content %}

 </br>
  </br>
    <div class='row'>
       <div class='col-sm-3'>
   </div>
    <div class="col-sm-6">
    <centre>
       <h2>Chosen Associates for {{ modelone.name }}:</h2>
    </centre>
        </br>



          <table class="table table-bordered table-hover">
              <thead  class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                  </tr>
              </thead>
              <tbody>
                {% for assoc in object_list %}
                  <tr>
                    <td>{{ assoc.id }}</td>
                    <td>{{ assoc.name }}</td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
  </div>

  <div class='col-sm-3'>
  </div>
</div>

</br>

    <div class='row'>
       <div class='col-sm-3'>
   </div>
      <div class='col-sm-6'>
        <a href='/projects/'>
          <button type="button" class="btn btn-dark btn-lg btn-block">Back to Projects</button>
        </a>
      </div>
    </div>
   <div class='col-sm-3'>
   </div>
    <br>
{% endblock %}


