{% extends "homepage/header.html" %}

{% block content %}

<div class='container'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-4">
          <h2>Partner Preferences</h2>
          <br>
          <br>
          <form role="form" method="POST" action="">
          <!--<div class="form-group col-md-4">-->
              {% csrf_token %}
              <input type="hidden" name="project_id" value="{{modelone.id}}">
              {{ form.partner_id.errors }}
              <label for="{{ form.partner.id_for_label }}">Partner:</label>
              {{ form.partner_id }}
              <br>
              {{ form.minimum.errors }}
              <label for="{{ form.minimum.id_for_label }}">Pre-existing Partner/Associate Relationship:</label>
              {{ form.minimum }}
              <small>(1 → none; 5 → best available)</small>
              <br>
              <br>
              {{ form.isMin.errors }}
              <label for="{{ form.isMin.id_for_label }}">Emphasis:</label>
              {{ form.isMin }}
              <br>
              <br>
              <input type="submit" value="Add" class="btn btn-dark btn-lg btn-block">
          <!--</div>-->
          </form>
        </div>
        <div class='col-sm-1'>
        </div>
        <div class="col-sm-7">
          <h2>{{ modelone.name }}'s Partner(s):</h2>
          <br>
          <br>
          <table class="table table-bordered table-hover">
              <thead  class="thead-dark">
                <tr>
                  <th scope="col">Partner</th>
                  <th scope="col">Min Level</th>
                  <th scope="col">Minimise</th>
                </tr>
              </thead>
              <tbody>
                {% for partner in object_list %}
                <tr>
                  <td>{{ partner.partner_id }}</td>
                  <td>{{ partner.minimum }}</td>
                  <td>{{ partner.isMin }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class='row'>
      <div class='col-sm-4'>
        <a href='/projects/'>
          <button type="button" class="btn btn-dark btn-lg btn-block">Return to Build Team</button>
        </a>
      </div>
      <div class='col-sm-4'>
          <form action="{% url 'proj_client' modelone.id %}" method="post">{% csrf_token %}
              <input type="submit" class="btn btn-dark btn-lg btn-block"
              value="Return to Client Preferences" />
          </form>
      </div>
      <div class='col-sm-4'>
          <form action="{% url 'proj_skill' modelone.id %}" method="post">{% csrf_token %}
              <input type="submit" class="btn btn-dark btn-lg btn-block"
              value="Advance to Skill Preferences" />
          </form>
      </div>
    </div>
</div>
{% endblock %}
